always-auth=true
@flawlesspt:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
# @flawlesspt:registry=https://npm.pkg.github.com/FlawlessPT
registry=https://registry.npmjs.org